@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Mountains+of+Christmas&display=swap");
@import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
body,
html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.profile-button a {
    margin-left: 20px;
    background-color: #4ac6b2;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3pt;
    width: 100px;
    padding: 9px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
}

.profile-button a:hover {
    background-color: #35a794;
    transition-duration: 0.4s;
}

.cover img {
    width: 100%;
}

.img-container {
    height: 600px;
    width: 100%;
    background: url(../img/banner.jpg);
    background-size: cover;
}

.cover-btn {
    background-color: #dd7d00;
    /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 27%;
    margin-left: 59.5%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.cover-btn:hover {
    background-color: #aa5200;
    color: white;
    transition-duration: 0.1s;
}

.section-1 {
    display: flex;
    margin-top: 100px;
    margin-left: 400px;
    margin-bottom: 100px;
}

.section-1 img {
    height: 400px;
    width: auto;
    box-shadow: 12px 12px rgba(128, 128, 128, 0.548);
}

.section-1-text {
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 400px;
    text-align: justify;
}

.section-1-text h1 {
    padding-right: 180px;
}

.img-cover {
    position: relative;
    height: 250px;
    overflow: hidden;
    background: url(../img/text-cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inner-img-cover {
    margin-top: 90px;
    margin-left: 350px;
}

.dentist-row-1,
.dentist-row-2 {
    display: flex;
}

.row-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.row-1 img {
    height: 350px;
    width: 350px;
}

.row-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dentist-row-1-text {
    padding: 10px;
    text-align: center;
}

.about {
    display: flex;
    margin: 100px;
    margin-left: 300px;
}

.about img {
    height: 500px;
    width: auto;
    box-shadow: 12px 12px rgba(128, 128, 128, 0.548);
}

.about-text {
    margin-left: 50px;
    margin-right: 200px;
    margin-top: 30px;
    text-align: justify;
}

.login-option-body {
    background: url(../img/login-option-bg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-option-container {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.60);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.login-option {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 460px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-option img {
    width: 200px;
    padding-bottom: 30px;
}

.login-option p {
    text-align: justify;
    font-size: 12px;
}

.login-option-btn {
    margin: 20px;
}

.login-option-btn button {
    background-color: #4c5eaf;
    width: 140px;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
}

.login-option-btn button:hover {
    background-color: #2c3e8d;
}

.patient-login-container {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.60);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.patient-login-inner-container {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 460px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.patient-login-inner-container img {
    width: 200px;
    padding-bottom: 30px;
}

.patient-login-inner-container h2 {
    margin-bottom: 20px;
}

.patient-login-form input {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    margin: 10px;
    width: 250px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 16px;
    margin-top: 10px;
}

.patient-login-form button {
    background-color: #4c5eaf;
    width: 140px;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
}

.patient-login-form button:hover {
    background-color: #2c3e8d;
}

.register-option-body {
    background: url(../img/login-option-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.layout {
    background-color: rgba(0, 0, 0, 0.60);
}

.patient-register-container {
    width: 360px;
    padding: 8% 0% 2% 0%;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.patient-register-inner-container {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 900px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.patient-register-inner-container img {
    width: 200px;
    padding-bottom: 30px;
}

.patient-register-inner-container h2 {
    margin-bottom: 20px;
}

.patient-register-form {
    text-align: left;
    margin-left: 100px;
}

.patient-register-form label {
    font-weight: 700;
    margin-left: 5px;
    font-size: 16px;
}

.patient-register-form .form-1 {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 0 15px;
    width: 584px;
    line-height: 40px;
    font-size: 16px;
    margin-top: 5px;
}

.patient-register-form textarea {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    margin-top: 5px;
}

.patient-register-form select {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    width: 584px;
    left: 100px;
    top: -37px;
    line-height: 200px;
    border-radius: 6px;
    padding: 11px 15px;
    font-size: 16px;
    margin-top: 10px;
    overflow: hidden;
}

.submit-btn-dentist {
    background-color: #4c5eaf;
    width: 140px;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
}

.patient-register-form .submit-btn-dentist:hover {
    background-color: #2c3e8d;
}

.patient-register-form button:hover {
    background-color: #2c3e8d;
}

.patient-register-inner-container button {
    background-color: #4c5eaf;
    width: 140px;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
}

.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #16192c;
    color: #fff;
}

.content-container {
    padding-top: 20px;
}

.sidebar-logo {
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    background-color: #16192c;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}

.sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
}

.sidebar-navigation li .fa {
    margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
}

.sidebar-navigation li::before {
    background-color: #2574A9;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-navigation li:hover::before {
    width: 100%;
}

.sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #0d0f1f;
    padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
    background-color: transparent;
}

.content-container {
    padding-left: 220px;
}

.patient-list-container table {
    background-color: rgba(206, 206, 206, 0.671);
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.patient-list-container th,
td {
    padding: 8px;
}

.patient-list-container tr:nth-child(even) {
    background-color: rgb(255, 106, 106)
}

.patient-list-container th {
    background-color: #1ea7df;
    color: white;
}

.patient-list-container button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 0 10px;
    margin: 0 5px;
}

.patient-list-container button:hover {
    background-color: #555555;
    color: white;
}

.patient-update-appt-button button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 100px;
    width: 150px;
    margin-bottom: 50px;
    padding: 10px 15px;
}

.patient-update-appt-button button:hover {
    background-color: #4CAF50;
    color: white;
}

.book-appointment {
    display: flex;
    margin: 100px;
    margin-left: 300px;
}

.book-appointment-container form {
    margin-left: 40px;
    margin-top: 20px;
}

.book-appointment-container h2 {
    padding-bottom: 20px;
}

.book-appointment-container span {
    font-weight: bold;
}

.book-appointment-container input,
select {
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    width: 500px;
}

.book-appointment img {
    width: 500px;
}

.book-appointment-container button {
    border: none;
    background: rgb(0, 140, 255);
    color: white;
    padding: 7px 30px;
    border-radius: 100px;
}

.book-appointment-container button:hover {
    background: rgb(0, 109, 199);
    transition-duration: 0.2s;
}

.profile-container {
    display: flex;
    margin: 100px;
    margin-left: 30%;
}

.avatar-user img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.detail-user {
    margin-left: 50px;
}

.detail-user-form p {
    font-weight: 700;
}

.detail-user-form input,
textarea,
select {
    border: 1px solid black;
    width: 500px;
    padding: 7px 15px;
    margin-bottom: 20px;
}

.avatar-user a {
    text-align: center;
}

.avatar-user button {
    text-align: center;
    padding: 12px 15px;
    border: none;
    background-color: #5c60f5;
    color: white;
    width: 200px;
    margin: 10px 0px;
    border-radius: 100px;
}

.avatar-user button:hover {
    background-color: #3c40c7;
    transition-duration: 0.3s;
}

.my-appointment-container table {
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
}

.my-appointment-container th,
td {
    padding: 8px;
}

.my-appointment-container tr:nth-child(even) {
    background-color: #f2f2f2
}

.my-appointment-container th {
    background-color: #1ea7df;
    color: white;
}


/* FOOTER */

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.contact-form input{
    border: 2px solid black;
    border-radius: 5px;
    height: 40px;
    width: 500px;
    padding-left: 5px;
}

.contact-form textarea{
    border: 2px solid black;
    border-radius: 5px;
    width: 500px;
    padding-left: 5px;
}

.contact-form button{
    border: none;
    background: rgb(0, 140, 255);
    color: white;
    padding: 7px 30px;
    border-radius: 100px;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/*responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}